@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

/* palette
dark: #353232
orange: #FC7931
light-orange: #FFA65E
greyish: #C5BBB3
*/

html {
  height: 100%;
  font-family: "Orbitron", Arial;
}

body {
  height: 100vh;
  /* color: #c5bbb3; */
  color: #fff;
  font-family: Arial;
  /* letter-spacing: .15rem; */
  background: #000;

  @media (min-width: 575.98px) {
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
  font-family: "Orbitron", Arial;
  font-size: calc(1.5rem + 1.75vw);
  letter-spacing: calc(1rem + 0.25vw);
  font-style: oblique;
  text-transform: uppercase;
}

h2 {
  font-family: "Orbitron", Arial;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: calc(1rem + 0.25vw);
  text-transform: uppercase;
}

h3 {
  font-size: calc(0.9rem + 0.3vw);
}

h4 {
  font-size: calc(0.9rem + 0.7vw);
}

h5 {
  font-size: calc(0.7rem + 0.5vw);
}

.list-item {
  border-radius: 11px 11px 0 11px;
  border: 1px solid #74614f33;
  padding: 4px;
  margin-bottom: 8px;
}

.list-item:hover,
.list-item:focus,
.list-item:active {
  background: #74614f33;
}

.list-item .heading {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
}

.list-item .text {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  /* color: #FFA65E; */
}

.svg-check {
  position: absolute;
  top: -2px;
  left: 8px;
  fill: greenyellow;
  width: 33px;
  height: 40px;
}

.cta-text {
  margin-bottom: 0;
  font-size: 1rem;
}

.content {
  min-width: 375px;
  background: #000;

  @media (min-width: 575.98px) {
    border-radius: 16px;
  }
}

.header {
  color: #fc7931;
}

.header:hover {
  cursor: pointer;
}

.hover:hover,
.hover:focus,
.hover:active {
  /* background-color: #74614f33; */
  border-color: #fc7931 !important;
  cursor: pointer;

  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.link {
  letter-spacing: 0.25rem;
  /* border: 1px solid #fff; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 11px;

  @media (min-width: 768px) {
    border-radius: 11px 11px 0 11px;
  }
}

.link a {
  flex: 1;
  /* text-align: center; */
}

.link:hover {
  color: #ffffff80;
}

.plain-text {
  position: relative;
  flex: 0.5 0.5 25%;
  border: 1px solid #fc793190;
  border-radius: 11px 11px 0 11px;
  background: transparent;
}

.card-body {
  padding: 0;
}

.card-img-top {
  opacity: 0.65;
  height: 7.5vw;
}

.box-collapsed {
  position: relative;
  flex: 0.7 0.7 33%;
}

.angle-up {
  width: 24px;
  height: 24px;
  fill: #fc7931;
}

.collapsed .angle-up {
  transform: rotate(180deg);
}

.btn-primary {
  color: #fff;
  font-family: "Orbitron", Arial;
  background-color: transparent;
  border-color: #fff;
  width: 60%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #fc7931b0;
  border-color: #fff;
}
